<div class="header-nav">
  <a class="nav-link nav-text alignBtn" routerLink="/"><button class="btn btn-primary">Home</button></a>
  <!-- <a class="nav-link nav-text" routerLink="business">Update</a> -->
</div>
<div class="card Align">
  <div class="card-body centerAlign">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group ">
        <label class="col-md-4">Breed</label>
        <label>
          <input type="text" class="form-control" formControlName="breed" #breed [(ngModel)]="puppyEdit.puppy_breed" />
        </label>
      </div>
      <div
        *ngIf="angForm.controls['breed'].invalid && (angForm.controls['breed'].dirty || angForm.controls['breed'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['breed'].errors.required">
          Breed is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Age (In years)</label>
        <label>
          <input type="text" class="form-control" formControlName="age" #age [(ngModel)]="puppyEdit.puppy_age" />
        </label>
      </div>
      <div *ngIf="angForm.controls['age'].invalid && (angForm.controls['age'].dirty || angForm.controls['age'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['age'].errors.required">
          Age is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <label>
          <textarea class="form-control" rows="3" cols="22" formControlName="description"
            [(ngModel)]="puppyEdit.description" #description></textarea>
        </label>

      </div>
      <div
        *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['description'].errors.required">
          Description is required.
        </div>
      </div>
      <div class="form-group submitAlign">
        <button
          (click)="updatePuppy(puppyEdit.puppy_breed,puppyEdit.puppy_age, puppyEdit.description,puppyEdit.puppy_id)"
          [disabled]="angForm.invalid" class="btn btn-primary">Update Puppy</button>
      </div>
    </form>
  </div>
</div>