.alignBtn {
  padding-left: 84%;
  margin: 2px;
}

.Align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  .centerAlign {
    align-items: center;
    justify-content: center;
  }
  
  .submitAlign {
    text-align: center;
  }
  
  .descAlign{
      flex-direction: column;
    }