<div class="header-nav">
  <a class="nav-link nav-text alignBtn" routerLink="puppy/create"><button class="btn btnColor">Create</button></a>
  <!-- <a class="nav-link nav-text" routerLink="business">Update</a> -->
</div>
<table class="table table-hover Align">
  <thead>
    <tr>
      <td>Breed</td>
      <td>Age</td>
      <td>Description</td>
      <td colspan="2">Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let puppy of puppyInfo">
      <td>{{ puppy.puppy_breed }}</td>
      <td>{{ puppy.puppy_age }}</td>
      <td>{{ puppy.description }}</td>
      <td class="edit"><a (click)="updatePuppy(puppy)" class="btn btn-primary"><span style="color:white">Edit</span></a></td>
      <td class="delete"><a (click)="deletePuppy(puppy.puppy_id)" class="btn btn-danger"><span style="color:white">Delete</span></a></td>
    </tr>
  </tbody>
</table>