<div class="header-nav">
  <a class="nav-link nav-text alignBtn" routerLink="/"><button class="btn btn-primary">Home</button></a>
  <!-- <a class="nav-link nav-text" routerLink="business">Update</a> -->
</div>
<div class="card Align">
  <div class="card-body centerAlign">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Breed</label>
        <label>
          <input type="text" class="form-control" formControlName="puppy_breed" #puppy_breed />
        </label>
      </div>
      <div
        *ngIf="angForm.controls['puppy_breed'].invalid && (angForm.controls['puppy_breed'].dirty || angForm.controls['puppy_breed'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['puppy_breed'].errors.required">
          Breed Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Age (In years)</label>
        <label>
          <input type="text" class="form-control" formControlName="puppy_age" #puppy_age />
        </label>
      </div>
      <div
        *ngIf="angForm.controls['puppy_age'].invalid && (angForm.controls['puppy_age'].dirty || angForm.controls['puppy_age'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['puppy_age'].errors.required">
          Age is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <label>
          <textarea class="form-control" rows="3" cols="22" formControlName="description" #description ></textarea>
        </label>
      </div>
      <div
        *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['description'].errors.required">
          Description is required.
        </div>
      </div>
      <div class="form-group submitAlign">
        <button (click)="addPuppy(puppy_breed.value, puppy_age.value, description.value)"
          [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">
          Add Puppy
        </button>
      </div>
    </form>
  </div>
</div>